.img-upload-btn { 
    position: relative; 
    overflow: hidden; 
    padding-top: 95%;
} 

.img-upload-btn input[type=file] { 
    position: absolute; 
    top: 0; 
    right: 0; 
    max-width: 100%;
    max-height: 100%;
    font-size: 100px; 
    text-align: right; 
    filter: alpha(opacity=0); 
    opacity: 0; 
    outline: none; 
    background: white; 
    cursor: inherit; 
    display: block; 
} 

.img-upload-btn i { 
    position: absolute;
    height: 16px;
    width: 16px;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;

}


.img-picker .btn .img-upload-btn{
    height: 20px;
}
.img-picker .btn .btn-danger{
    height: 30px;
}
.hidden {
    visibility: hidden;
}

.glyphicon {
    display: inline-block;
    font-family: "Glyphicons Halflings";
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    position: relative;
    top: 1px;
}
.glyphicon-plus::before {
    height: auto;
    content: '+';
    font-size: larger;

}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: block;
    height: auto;
    max-width: 100%;
}
.img-rounded {
    border-radius: 6px;
}




.text-center {
    text-align: center;
    max-height: 20%;
    max-width: 20%;
}