**/src-gen/
**/out/
**/xtend-gen/
**/bin/
**/target/
**/build/
**/generated/
**/WebRoot/workspace/
**/workspace/
**/.gradle/
**/.idea/
**/.metadata/

!*/.gitkeep
# Don't ignore .gitignore
!.gitignore

*.xml_gen
*.plugin_gen.xml
plugin.properties

.metadata/*
*/.settings/*
*.iml
*.prefs
*.class
*.classpath
*.xtendbin
*._trace

.project
