**/src-gen/
**/out/
**/xtend-gen/
**/bin/
**/target/
**/build/
**/generated/
**/WebRoot/workspace/
**/.gradle/
**/.idea/

!*/.gitkeep
# Don't ignore .gitignore
!.gitignore

*.xml_gen
*.plugin_gen.xml

.metadata/*
*/.settings/*
*.iml
*.prefs
*.class
*.xtendbin
*._trace

*.project